<!DOCTYPE html>
<html layout:decorator="layout/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/static/css/index.css}" />
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid main-container">
			<div th:insert="components/accountSidebar :: sidebar"></div>
			<div th:if="${manageType}=='article'" th:insert="components/myArticlesList :: articlesList"></div>
			<div th:if="${manageType}=='category'" th:insert="account/categoryManage :: categoryManage"></div>
			<div th:if="${manageType}=='account'" th:insert="account/accountManage :: accountManage"></div>
		</div>
	</div>
</body>
</html>