<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
	<img alt="User Pic"
		src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
		id="profile-image1" class="img-circle img-responsive">


</div>
<div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" th:fragment="aboutMe">
	<div class="container">
		<h2>谢议尊</h2>
		<p>
			<b>一名程序员👨‍💻‍</b>
		</p>
	</div>
	<hr>
	<ul class="container details">
		<li>
			<p>
				<span class="glyphicon glyphicon-user one" style="width: 50px;"></span>网易游戏（2016年至今）
			</p>
		</li>
		<li>
			<p>
				<span class="glyphicon glyphicon-envelope one" style="width: 50px;"></span>中山大学
			</p>
		</li>
		<li>
			<p>
				<span class="glyphicon glyphicon-envelope one" style="width: 50px;"></span>xieyizun@163.com
			</p>
		</li>
		<li>
			<p>
				<a href="https://github.com/xieyizun/">github</a>
			</p>
		</li>
	</ul>
	<hr>
	<div class="col-sm-5 col-xs-6 tital "></div>
</div>
</html>